%div.m-auto.p-5.border.border-zinc-500.rounded-lg
  %h1.text-4xl
    Subscription Details

  %form.py-3
    .mt-8
      .grid.grid-cols-1.gap-6
        %label.block
          %span Name:
          %input.block.mt-0.px-0.5.w-full.border-0.border-b-2.border-gray-200.focus:ring-0.focus:border-black{:type => 'text'}

        %label.block
          %span Cost:
          %input.block.mt-0.px-0.5.w-full.border-0.border-b-2.border-gray-200.focus:ring-0.focus:border-black{:type => 'number'}

        %label.block
          %span Currency:
          %select.block.mt-0.px-0.5.w-full.border-0.border-b-2.border-gray-200.focus:ring-0.focus:border-black
            %option NZD
            %option AUD
            %option USD
            %option EURO

        %label.block
          %span Next Due Date:
          %input.block.mt-0.px-0.5.w-full.border-0.border-b-2.border-gray-200.focus:ring-0.focus:border-black{:type => 'date'}

        %label.block
          %span Frequency:
          %select.block.mt-0.px-0.5.w-full.border-0.border-b-2.border-gray-200.focus:ring-0.focus:border-black
            %option Monthly
            %option Yearly

        %label.block
          %input.px-3.py-2.text-white.bg-red-500.rounded-md.cursor-pointer{:type => 'submit', :value => 'Submit'}
