<div class="m-auto">
  <h1 class="mb-6 text-4xl font-bold uppercase">Subscription Details</h1>

  <ul>
    <% @pages.each do |page| %>
      <li>
        <%= page.title %>
      </li>
    <% end %>
  </ul>
</div>
