<h1 class='text-3xl font-semibold'>Heading</h1>
<p class='my-4'>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In ante metus dictum at tempor commodo ullamcorper a lacus. Etiam erat velit scelerisque in dictum non consectetur.
</p>
