<h1 class='text-3xl font-semibold'>New Subscription</h1>

<%= render 'form', subscription: @subscription %>

<%= link_to 'Back', root_path, :class => 'block float-left ml-1 px-3 py-2 text-sm font-semibold rounded-md bg-zinc-300 hover:text-white hover:bg-zinc-400 dark:text-zinc-700' %>
